@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: Inter;
    user-select: none;
}

.register_form_input{
    margin: 8px;
}

label {
    display: block;
    text-align: center;
}

.main-logo{
    width: 40px;
}