@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: Montserrat;
}

.dashboard-left-panel-ul li{
    margin: 10px;
}

.dashboard-left-panel-ul li h1{
    font-weight: 800;
}