@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: Montserrat;
}

.dashboard-menu-ul li{
    padding: 3px 5px;
}
.dashboard-menu-ul li:hover{
    color: red;
}