{%load static%}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title%}{% endblock title%}</title>

    <!-- DaisyUI-->
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <!--Tailwind CSS-->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <!--main.css-->
    <link rel="stylesheet" href="{% static "main.css" %}"> 

  </head>
  <body>

    <!--Navbar Starts-->

    <div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /> </svg>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-m dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li><a>Homepage</a></li>
        <li><a>Portfolio</a></li>
        <li><a>About</a></li>
      </ul>
    </div>
  </div>
  <div class="navbar-center">
    <a class="btn btn-ghost text-xl" href="{% url "index" %}"><img src="{% static "logo_blogify.png" %}" alt=""></a>
  </div>
  <div class="navbar-end">
    <button class="btn btn-ghost btn-circle" onclick="my_modal_2.showModal()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /> </svg>
    </button>
  </div>
</div>
    <!--Navbar End-->


    <!--Search Modal-->

    <dialog id="my_modal_2" class="modal">
  <div class="modal-box">


<form id="search-form">
    {% csrf_token %}
    {{ search_form }}
    <button type="submit" class="btn">Search</button>
</form>

<div id="results">
    {% for post in search_results %}
        <div><a href="">{{ post.title }}</a></div>
    {% endfor %}
</div>


</div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>


    {% block index-main %} {% endblock index-main %}

    <script>
document.getElementById("search-form").addEventListener("submit", function(e) {
    e.preventDefault(); // stop refresh

    const formData = new FormData(this);

    fetch("/", {
        method: "POST",
        body: formData,
        headers: {
            "X-CSRFToken": formData.get("csrfmiddlewaretoken")
        }
    })
    .then(res => res.text())
    .then(html => {
        document.getElementById("results").innerHTML = html;
    });
});
</script>


  </body>
</html>
