{% extends "base.html" %}

{% block index-main %}

<style>
    /* This forces the CKEditor container to ignore fixed pixel widths */
    .django-ckeditor-widget {
        width: 100% !important;
        display: block !important;
    }
    .cke {
        width: 100% !important;
    }
</style>


<form action="" method="POST">
    {% csrf_token %}
    
    {{ post_form.media }}

    <div class="form-group">
        {{ post_form.title }} <button type="submit" class="btn">Save</button>
    </div>

    <div class="form-group">
        {{ post_form.content }} </div>

</form>
{% endblock index-main %}