{%load static%}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <!-- DaisyUI-->
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <!--Tailwind CSS-->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <!--main.css-->
    <link rel="stylesheet" href="{% static "main.css" %}"> 

  </head>
  <body>

<img src="{% static "logo_blogify.png" %}" alt="" class="mt-[100px] mx-auto block">
<h1 class="text-center my-3 text-[22px] font-[700]">Welcome Back</h1>

<form method="POST" class="register_form_class mx-auto block w-max rounded-[10px]">
  {%csrf_token%} {{login_form}}

    <button class="btn btn-neutral mx-auto block rounded-[20px] my-2 mb-4 w-[200px]">Login</button>
</form>

{% for message in messages %} {% if "login_error" in message.tags %}

<div role="alert" class="alert alert-error alert-outline w-max mx-auto block my-2">
  <span>{{ message }}</span>
</div>

{% elif "login_success" in message.tags %}

<div role="alert" class="alert alert-success alert-outline w-max mx-auto block my-2">
  <span>{{ message }}</span>
</div>
{% endif %} {% endfor %}

<p class="text-center text-[12px]">By continuing, you agree to our Terms and Privacy Policy. <br>
    <a href="{% url "register_author" %}"><b>Don't have an account? Register</b></a>
</p>

</body>
